<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NorthPaw.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>10</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C957D412E46AA2161A362D50A859BE6F95530326</string>
				<key>dateExpires</key>
				<string>5/31/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C957D412E46AA2161A362D50A859BE6F95530326</string>
						<key>dateExpires</key>
						<string>5/31/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V6Q478U5L</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C957D412E46AA2161A362D50A859BE6F95530326</string>
						<key>dateExpires</key>
						<string>5/31/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V6Q478U5L</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C957D412E46AA2161A362D50A859BE6F95530326</string>
						<key>dateExpires</key>
						<string>5/31/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V6Q478U5L</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5V6Q478U5L.com.northpaw.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>5V6Q478U5L</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>NorthPaw.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ad7ff15e-2f0e-4388-b63e-afa5e6b7a5b6</string>
				<key>dateExpires</key>
				<string>5/31/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.northpaw.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5V6Q478U5L</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>3.0.0</string>
		</dict>
	</array>
</dict>
</plist>
